<!doctype html>
<html lang="en" ng-app="myapp" ng-controller="myctl">
<head>
<meta charset="UTF-8">
<meta property="og:title" content="Crash Boulder">
<meta property="og:type" content="website" />
<meta property="og:url" content="http://crashboulder.com">
<meta property="og:description" name="description" content="CrashBoulder">
<meta name="author" content="Holly Kwan">
<meta name="keyword" content="CrashBoulder, Boulder, Boulder Recommendation">
<meta name="viewport" content="width=device-width">
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
<base href="/angular-client">
<title>CRASHBOULDER</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script>
      function MQIOController($scope, $http) {
        $scope.searchahead = [];
        $scope.openguidance = [];
        $scope.getSearchAhead = function() {
          console.log('get searchahead');
          $http.get('/searchahead')
            .then(response => {
              $scope.searchahead = response.data.results;
              console.log('searchahead', $scope.searchahead);
              return $scope.searchahead;
            });
        }
      };
    </script>
  </head>
  <body>
    <div class="container" id="container-id"ng-app="myapp" ng-controller="MQIOController">
      <div class="page-header">
        <h1>CrashBoulder</h1>
        <p1>Boulder Recommendation</p1>
        <br>
        <p2>CrashBoulder help you to crash 'boulder' and better</p2>
      </div>
      <div class="row">
        <div class="col-s6">
          <button ng-click="getSearchAhead()">
            More On Crashing Boulder
          </button>
        </div>
        <div class="col-s6">
          <div class="row searchahead" 
            ng-repeat="item in searchahead"> The {{ item.name }} is classified as {{item.recordType}}  
          </div>
          <div ng-app="myapp">
  <div ng-controller="myctl">
    <h1>Below is the Optimization for Vehicle Routing Information</h1>
    <ul>
      <li ng-repeat="item in collection"> {{item.endTurnDir}} is the road segmentation that has the travel code of {{item.shapeIndex}} with a {{item.driveability}} rate of driveability and the speed: {{item.speed}}</li>
    </ul>
  </div>
</div>
          <div class="row client" 
            ng-repeat="client in clients">
            <div class="client-container col-s12">
              <strong>{{client.appId}}-{{client.label}}</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  </body>
  <script type="text/javascript">
        var app = angular.module('myapp', []);
        app.controller('myctl', function($scope, $http) {
        $scope.myjson = "Loading...";
        $http({
          method: 'GET',
          url: 'https://open.mapquestapi.com/guidance/v1/route?key=3PGmI1qMtvRxfCRA7FEpSxBKjFqVCX29&from=1555+Blake+St.,+Denver,+CO+80202&to=1701+Wynkoop+St,+Denver,+CO+80202'
        }).then(function successCallback(response) {
        $scope.myjson = JSON.stringify(response);
        $scope.realJSON = response;
        $scope.copyright = $scope.realJSON.data.info.copyright.text;
        $scope.collection = response.data.guidance.GuidanceLinkCollection;
          }, function errorCallback(response) {
        $scope.myjson = "Error";
      });
    });
  </script>
</html>
