<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta property="og:title" content="Crash Boulder">
<meta property="og:type" content="website" />
<meta property="og:url" content="http://crashboulder.com">
<meta property="og:description" name="description" content="CrashBoulder">
<meta name="author" content="Holly Kwan">
<meta name="keyword" content="CrashBoulder, Boulder, Boulder Recommendation">
<meta name="viewport" content="width=device-width">
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
<link rel='stylesheet' href='/stylesheets/style.css' />
<title>CrashBoulder</title>
</head>
<body>
<h1>CrashBoulder</h1>
<p1>Boulder Recommendation</p1>
<br>
<p2>CrashBoulder help you to crash 'boulder' and better</p2>
</body>
</html>
