body {
  background: url("https://raw.githubusercontent.com/hollykhk/holly_website/master/crashboulder.jpg");
  background-size: 100%;
  margin: -40px;
  padding: 32px 0 0 74px;
  color: #061026;
  font-size: 14px;
  font-family: "Optima", "Segoe", "Segoe UI", "Candara", "Calibir", "Arial", sans-serif;
}
h1 {
  font-family: "Papyrus", "fantasy", serif;
  margin-bottom: -8px;
  font-size: 38px;
}
div {
  font-family: "Futura", "Trebuchet MS", "Arial", sans-serif;
}

