body {
  color: #061026;
  font-size: 14px;
  font-family: "Optima", "Segoe", "Segoe UI", "Candara", "Calibir", "Arial", sans-serif;
}
#container-id {
  background: url("https://raw.githubusercontent.com/hollykhk/holly_website/master/crashboulder.jpg");
  background-size: 100%;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  margin: -40px;
  padding: 32px 0 0 74px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter:alpha(opacity=70);

}
h1 {
  opacity: 1.2;
  font-family: "Papyrus", "fantasy", serif;
  margin-bottom: -8px;
  font-size: 38px;
}
ul li {
  list-style-type: none;
}
button {
  border-style: double;
  border-width: thin thick;
}


